<h1>New User</h1>
<div class="row">
	<%= params[:accountid].to_s %>
	<div class="col-md-4">
		<%= form_for(@contact, html: {role: "form"}) do |f| %>
		<div class="form-group">
			<%= f.label "First Name" %>
			<%= f.text_field :FirstName, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label "Last Name" %>
			<%= f.text_field :LastName, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :Title %>
			<%= f.text_field :Title, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :Email %>
			<%= f.text_field :Email, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label "Mobile Phone" %>
			<%= f.text_field :MobilePhone, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :Phone %>
			<%= f.text_field :Phone, class: "form-control" %>
		</div>
		<%= f.hidden_field :AccountId, value: params[:accountid] %>
		<%= f.submit "Save Changes",class: "btn btn-primary" %>
		<% end %>
	</div>
	<div class="col-md-8">
	<%= debug(params) if Rails.env.development? %>
	</div>
</div>